
@-webkit-keyframes miAnimacion{
  0% {
    margin-top: 150%;
  }
  60% {
    margin-top: -5%;
  }
  100% {
    margin-top: 0%;
  }
}

@-webkit-keyframes miAnimacionRotar{
  0% {
      transform: rotate(2deg);
  }
  60% {
       transform: rotate(5deg);
  }
  100% {
      transform: rotate(10deg);
  }
}

@-webkit-keyframes miAnimacionSaltar{
  0% {
    transform: translate(1px, 5px);
  }
  60% {
       transform: translate(3px, 10px);
  }
  100% {
      transform: translate(5px, 20px);
  }
}

body
{
  background-color: #02010a;
  font-family: 'Dancing Script', cursive;
  max-width: 900px;
 margin: auto;
}
header{
  background-color: #5b7989;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  animation: miAnimacion 2s;
}

header h1 {
  color: #ffffff;
  margin-left: 20px;
  text-shadow: 2px 2px #02010a;
  padding-top: 10px;
}

footer{
  background-color: #C6d5c5;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  max-width: 900px;
}
#contenido{
  max-width: 900px;

}

footer div{
  margin-left: 5%;
  margin-right: 5%;
}

footer section{

  display: flex;
  flex-direction: row;
  margin-left: auto;
}
footer article{
  width: 25%;

}
footer img{
  width: 20px;

}

img{
   box-shadow: 2px 2px #02010a;

}
.menu {
  overflow: hidden;
  background-color: #cccccc;


}
.menu a {
  float: right;
  display: block;
  color: #f2f2f2;
  position: relative;
  padding: 14px 16px;
  text-decoration: none;
}
.menu a:hover {
  background-color: #ddd;
  color: black;
}


#album{

  box-sizing: border-box;
	height: 100%;
  margin-left: 20px;
  margin-right: 20px;


}
#principal{
  background-color: #82c3a6;
}
#principal img{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 96%;
  margin-left:2%;
  margin-right: 2%;
}
#secundario{

  background-color: #d5c75f;
  border-width: 2px;
  display: flex;
  flex-direction: row;

}
#secundario img{
  margin-top: 20px;
  width: 96%;
  margin-left:2%;
  margin-right: 2%;
}

#link-paisajes:hover{

   box-shadow: 2px 2px #82c3a6;
   animation: miAnimacionRotar 2s;
}
#link-retratos:hover{

   box-shadow: 2px 2px #82c3a6;
   animation: miAnimacionSaltar 2s;
}

.contenedor{

  margin-left: 10%;
  margin-right: 10%;
}



.galeria{
  height: auto;
  background-color: white;
  max-width: 900px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.album-paisajes{
      margin: 5px;
      padding-top: 3%;
      padding-bottom: : 3%;
      float: left;
      width: 30%;
      padding-left: 1%;
}
.album-paisajes img {
     width: 100%;
     height: 90%;
}

.album-retratos{
      margin: 5px;
      padding-top: 3%;
      padding-bottom: : 3%;
      float: left;
      width: 30%;
      padding-left: 1%;
}
.album-retratos img {
     width: 100%;
     height: 90%;
}

.imgblur{
  filter: blur(10px);
}
.imggray{
   filter: grayscale(100%);
}
.imgsepia{
  filter: sepia(90%);
}

#album-retratos{
  display: flex;
  flex-direction: row;

}
#album-retratos img{
  width: 30%;
  height: 20%;
}

@media screen and (max-width: 480px){

body
{
 margin-left: 0%;
}

.menu {

  text-align: center;
  width: auto;
  padding-right: 10%;
  padding-left: 10%;
}


  #secundario{
    border-width: 1px;
    display: flex;
    flex-direction: column;
  }

  #contenido{
    max-width: 100%;
  }

  footer section{

    display: flex;
    flex-direction: column;
  }

  .galeria{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
  }
  .album-paisajes{

        float: left;
        width: 90%;
        padding-left: 1%;
        padding-right: : 1%;
  }
  .album-paisajes img {

       height: 90%;
  }

  .album-retratos{
    float: left;
    width: 90%;
    height: 80%;
    padding-left: 1%;
    padding-right: : 1%;
  }
  .album-retratos img {
      height: 90%;
  }
}
