body
{
  background-color: #02010a;
  font-family: 'Dancing Script', cursive;
  max-width: 900px;
 margin-left: 25%;
}


header{
  background-color: #5b7989;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

header h1 {
  color: #ffffff;
  margin-left: 20px;
  text-shadow: 2px 2px #02010a;
  padding-top: 10px;
}

footer{
  background-color: #C6d5c5;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

footer div{
  margin-left: 5%;
  margin-right: 5%;
}

footer section{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: auto;
}
footer article{
  width: 25%;

}
footer img{
  width: 20px;

}

img{
   box-shadow: 2px 2px #02010a;

}
.menu {
  overflow: hidden;
  background-color: #cccccc;


}
.menu a {
  float: right;
  display: block;
  color: #f2f2f2;
  position: relative;
  padding: 14px 16px;
  text-decoration: none;
}
.menu a:hover {
  background-color: #ddd;
  color: black;
}


#album{

  box-sizing: border-box;
	height: 100%;
  margin-left: 20px;
  margin-right: 20px;


}
#principal{
  background-color: #82c3a6;
}
#principal img{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 96%;
  margin-left:2%;
  margin-right: 2%;
}
#secundario{

  background-color: #d5c75f;
  border-width: 2px;
  display: flex;
  flex-direction: row;

}
#secundario img{
  margin-top: 20px;
  width: 96%;
  margin-left:2%;
  margin-right: 2%;
}

#link-paisajes:hover{
  transform: rotate(10deg);
   box-shadow: 2px 2px #82c3a6;
}
#link-retratos:hover{
  transform: translate(5px, 20px);
   box-shadow: 2px 2px #82c3a6;
}
.contenedor{

  margin: 0 auto;
  max-width: 960px;
  padding: 0 1rem;
}

.album-paisajes {
  max-width: 100%;
}
.foto img {
  display: block;
  width: calc(100% / 3);
}


#album-retratos{
  display: flex;
  flex-direction: row;

}
#album-retratos img{
  width: 30%;
  height: 20%;
}

@media screen and (max-width: 480px){

  body
{

 margin-left: 0%;
}

  #secundario{
    border-width: 1px;
    display: flex;
    flex-direction: column;
  }

  #contenido{
    max-width: 100%;
  }

  footer section{

    display: flex;
    flex-direction: column;
  }
}
